html {
  font-family: var(--ds-font-family-body);
}

body {
  background-color: var(--ds-background);
  color: var(--ds-foreground);
  font-weight: var(--ds-font-weight-normal);
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ds-font-family-display);
  font-weight: var(--ds-font-weight-medium);
  line-height: 1.5;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
}

label,
button {
  font-size: 1rem;
  font-weight: var(--ds-font-weight-medium);
  line-height: 1.5;
}

input {
  font-size: 1rem;
  font-weight: var(--ds-font-weight-normal);
  line-height: 1.5;
  color: var(--ds-foreground);
  background-color: var(--ds-input-background);
  border: 1px solid var(--ds-input-border);
}
